@page
@model RazorPage.Pages.JournalList.CreateModel
@{
}
<form method="post">
    <div class="form-group">
        <label asp-for="journals.EntryName"></label>
        <input type="text" class="form-control" placeholder="Enter Journal Topic"/>
    </div>

    <div class="form-group">
        <label asp-for="journals.EntryDate"></label>
        <input type="text" class="form-control" placeholder="Enter Journal Entry Date" />
    </div>

    <div class="form-group">
        <label asp-for="journals.EntryDescription"></label>
        <input type="text" class="form-control" placeholder="Write Your Story" />
    </div>

    <div class="form-check">
        <input type="checkbox" class="form-check-input"/>
        <label class="form-check-label" asp-for="journals.StarredEntry"></label>
    </div>
      
    <div class="form-group row">
        <div class="col-6">
            <button type="submit" class="btn btn-primary form-control">Submit</button>
        </div>
        <div class="col-6">
            <a asp-page="journalIndex" class="btn btn-success form-control">Go Back</a>
        </div>
    </div>
</form>
